#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-prod.xcconfig"
#include "Generated.xcconfig"

FLUTTER_TARGET=lib/main_prod.dart
PRODUCT_BUNDLE_IDENTIFIER=com.lthung.reportperson
ASSET_PREFIX=prod
BUNDLE_NAME=Report Person
FLAVOR=prod
DART_OBFUSCATION=true
SPLIT_DEBUG_INFO=$(SRCROOT)/../debug-info
